h1{
	font-size:500%;
	text-transform:uppercase;
	color:#000000;
	text-align:center;

}	

 nav a{
	display:inline;
	background:#FFFFFF;
    color:#000000;
	text-decoration:none;
	font-size:150%;
	margin:0 auto;
	margin-top:10px;
	border-radius:8px;
	padding-right:50px;
	padding-left:50px;
	padding-top:20px;
	padding-bottom:20px;
	margin-right:60px;
	margin-left:60px;
}
.active{
	background-color:#C3E4ED;
}

h2{
	color:#000000;
	text-transform:uppercase;
}
main{
	display:flex;
}
section{
	background:#FFFFFF;
	float:left;
	font-size:130%;
} 
body{
	width:130%;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	color:#000000;
	
}
header{
    height:300px;
	background-image:url("gettyimages-1203376093.png");
	padding-top:10px;
	padding-bottom:50px;
	
}
.left img{
	display:flex;
	width:80%;
	margin-top:30px;
	margin-right:22px;
	margin-left:22px;
	border-style:solid;
	border-color:#000000;
}
.right{
	width:1300%;
	padding-left:3px;
	padding-top:10px;
}
.right h2{
	color:#4682B4;
}
.right h3{
	color:#4682B4;
}
.left{
	background:#B4CDCD;
	height:2100px;
}

table{
	font-size:90%;
	color:#000000;
	font-family:arial;
	font-weight:bold;
	line-height:3;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
	width:95%;
	height:1600px;
	
}
th{
	background:#38ACEC;
	border-radius:4px 5px 0px 0px;
	color:#000000;
	border-style:solid;
	border-width:thin thin thick thin;
	border-color:#ADD8E6;
}
td{
	background:#ADD8E6;
	border-radius:2px;
	color:#000000;
	text-shadow:1px 0px 0px #0000FF;
}
td:hover{
  opacity:1;
}
td{
opacity:.8;
}
table td{
	text-align:center;
}
table td:first-child{
	text-align:left;
}
table th{
	text-align:center;
}
table th:first-child{
	text-align:left;
}
.dropbtn{
	background:#FFFFFF;
	color:#000000;
	border:none;
	font-size:150%;
	margin:0 auto;
	margin-top:10px;
	border-radius:8px;
	padding-right:50px;
	padding-left:50px;
	padding-top:20px;
	padding-bottom:20px;
	margin-right:60px;
	margin-left:60px;
}
.dropdown{
	position:relative;
	display:inline-block;
}
.dropdown-content{
	display:none;
	position:absolute;
	background:#f1f1f1;
	min-width:160px;
	box-shadow:0px 8px 16px 0px 
	rgba(0,0,0,0.2);
	z-index:1;
}
.dropdown-content a{
	color:#000000;
	padding:12px 16px;
	text-decoration:none;
	display:block;
}
.dropdown-content a:hover{
	background:#ddd;
}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown:hover .dropbtn{
	background:rgba(0,0,0,0.2);
}
details a{
	text-decoration:none;
	color:#000000;
}
ul a{
	text-decoration:none;
}
input{
border:1px solid black;
border-radius:5px;
}
input:focus{
	background-color:#E6E6E6;
}
fieldset{
	margin-bottom: 4%;
	font-size:130%;
	width:1300px;
}
label{
	display:block;
}